<div class="docs-header" id="content">
  <div class="container">
  	{% if page.title%}
		    <h3>{{ page.title }}</h3>
		    <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Post on {{ page.date | date: "%b %d, %Y" }} by <a href="/about">{{ site.author }}</a> 
                    {% if page.categories != null %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ '/categories/' | prepend: site.baseurl }}#{{page.categories}}-ref">{{page.categories}}</a>  /
        <a href="{{ '/tag/' | prepend: site.baseurl }}#{{page.tag}}-ref">{{page.tag}}</a>
                    {% endif %}
                    </p>
		
	<!--	    <h1>{{ site.motto }}</h1>  -->
    {% else %}
	    <h3>{{ site.name }}</h1>
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ site.description }}</p>
    {% endif %}
  </div>
</div>
